{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dashboard-css/dashboard.css') }}" rel="stylesheet" type="text/css">

    <!--CSS PROFILE POP-UP-->
	<link href="{{ asset('dashboard-css/profile_pop_up.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!--CDN Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script> <!-- CDN Gauge.js -->
    <script src="https://kit.fontawesome.com/6441db969a.js" crossorigin="anonymous"></script> <!-- CDN Font Awesome -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script> <!-- CDN Drag & Drop -->
    <script src="{{ asset('dashboard-js/dashboard.js') }}" defer></script>
    <script src="{{ asset('dashboard-js/dashboard-kcal-chart.js') }}" defer></script>
    <script src="{{ asset('dashboard-js/dashboard-suivi-graph.js') }}" defer></script>
    <script src="{{ asset('dashboard-js/dashboard-typing-animation.js') }}" defer></script>
    <script src="{{ asset('dashboard-js/dashboard-api-request.js') }}" defer></script>
    <script>
        var searchResults = {{ products|json_encode|raw }};
    </script>

    <!--JS PROFILE POP-UP-->
    <script src="{{ asset('dashboard-js/profile_pop_up.js') }}" defer></script>
{% endblock %}


{% block body %}
    <!-- PROFILE POP-UP -->
    <div class="profile-pop-up-container">
        <div class="blurred-bg"></div>

        <div class="profile-container">

            <div class="profile-close-pop-up">
                <i class="fa-solid fa-xmark close-icon"></i>
            </div>

            <div class="profile-sidebar">
                <div id="gender-switch">
                    <div class="toggle-button-cover hide-gender-switch">
                        <div class="button-cover">
                            <div class="button r" id="gender-button">
                                <input id="checkbox" type="checkbox" class="checkbox"/>
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>

                    <div class="icons-container">
                        <i class="fa-solid fa-pen edit-info-button edit-gender profile-button"></i>
                        <i class="fa-solid fa-floppy-disk hide-icon save-button save-gender profile-button"></i>
                        <i class="fa-solid fa-xmark hide-icon cancel-button cancel-gender profile-button"></i>
                    </div>
                </div>

                <div class="avatar-gallery">
                    <div class="btn-container">
                        <button disabled class="gallery-button up-button">
                            <i class="fa-solid fa-chevron-up"></i>
                        </button>
                        <button disabled class="gallery-button down-button">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>
                    <div class="avatars-selection">
                        <div class="avatar-group male">
                            <img class="avatar male-avatar default" alt="avatar" src="{{ asset('img/man-1.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-2.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-3.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-4.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-5.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-6.png') }}">
                            <img class="avatar male-avatar" alt="avatar" src="{{ asset('img/man-7.png') }}">
                        </div>
                        <div class="avatar-group female">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-1.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-2.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-3.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-4.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-5.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-6.png') }}">
                            <img class="avatar female-avatar" alt="avatar" src="{{ asset('img/woman-7.png') }}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="profile-content">

                <div class="connection-info-container info-container">
                    <div class="info-title-container">
                        <h3 class="profile-infos-title">Informations de connexion</h3>
                        <div class="icons-container">
                            <i class="fa-solid fa-pen edit-info-button edit-connection-info profile-button"></i>
                            <i class="fa-solid fa-floppy-disk hide-icon save-button save-connection-info profile-button"></i>
                            <i class="fa-solid fa-xmark hide-icon cancel-button cancel-connection-info profile-button"></i>
                        </div>
                    </div>

                    <div class="input-container">
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Email</p>
                            <input type="email" disabled class="input-profile" placeholder="exemple@exemple.com" id="inputEmail">
                        </div>
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">MDP actuel</p>
                            <input type="password" disabled class="input-profile" placeholder="************" id="inputMotDePasse">
                        </div>
                    </div>

                    <div class="input-container new-password-container hide-new-mdp">
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Nouveau MDP</p>
                            <input type="password" disabled class="input-profile" placeholder="************" id="inputNewMdp">
                        </div>
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Vérification nouveau MDP</p>
                            <input type="password" disabled class="input-profile" placeholder="************" id="inputVerifNewMdp">
                        </div>
                    </div>
                </div>

                <div class="bio-info-container info-container">
                    <div class="info-title-container">
                        <h3 class="profile-infos-title">Informations personnelles</h3>
                        <div class="icons-container">
                            <i class="fa-solid fa-pen edit-info-button edit-infos-perso profile-button"></i>
                            <i class="fa-solid fa-floppy-disk hide-icon save-button save-infos-perso profile-button"></i>
                            <i class="fa-solid fa-xmark hide-icon cancel-button cancel-infos-perso profile-button"></i>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Nom</p>
                            <input type="text" disabled class="input-profile" placeholder="Jean" id="inputNom">
                        </div>
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Prénom</p>
                            <input type="text" disabled class="input-profile" placeholder="Scott" id="inputPrenom">
                        </div>
                    </div>

                    <div class="input-container">
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Date de naissance</p>
                            <input type="date" disabled class="input-profile" placeholder="JJ/MM/AAAA" id="inputDatenaissance">
                        </div>
                        <div class="profile-info-card">
                            <p class="profile-card-subtitle">Taille (cm)</p>
                            <input type="text" disabled class="input-profile" placeholder="185" id="inputTaille">
                        </div>
                    </div>
                </div>

                <div class="activity-info-container info-container">
                    <div class="info-title-container">
                        <h3 class="profile-infos-title">Niveau d'activité physique</h3>
                        <div class="icons-container">
                            <i class="fa-solid fa-pen edit-info-button edit-activite profile-button"></i>
                            <i class="fa-solid fa-floppy-disk hide-icon save-button save-activite profile-button"></i>
                            <i class="fa-solid fa-xmark hide-icon cancel-button cancel-activite profile-button"></i>
                        </div>
                    </div>
                    <div class="activity-switch-container input-container">
                        <label class="activities-icon activity-disabled">
                            <input disabled type="radio" name="activityLevel" value="1" class="activity-input">
                            <i class="fa-solid fa-bed icon"></i>
                        </label>
                        <label class="activities-icon activity-disabled">
                            <input disabled type="radio" name="activityLevel" value="1.1" class="activity-input">
                            <i class="fa-solid fa-person icon"></i>
                        </label>
                        <label class="activities-icon activity-disabled selected">
                            <input disabled type="radio" name="activityLevel" value="1.2" class="activity-input" checked>
                            <i class="fa-solid fa-person-walking icon"></i>
                        </label>
                        <label class="activities-icon activity-disabled">
                            <input disabled type="radio" name="activityLevel" value="1.3" class="activity-input">
                            <i class="fa-solid fa-person-running icon"></i>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>







    <!-- DASHBOARD -->
    <header>
        <div class="logo-container">
            <img class="logo" src="{{ asset('img/logo.png')}}" alt="logo">
            <h1 class="brand-name">Food focus</h1>
        </div>

        <div class="log-out-container" id="log-out-container">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </header>

    <main>
        <div class="left-section">
            <div class="header-block">
                <div class="profile-container">
                    <div class="profile-avatar-container">
                        <img class="profile-avatar" id="profile-avatar" src="{{ asset('img/avatar.png')}}" alt="">
                    </div>
                    <div class="profile-text-container">
                        <h3 class="profile-name-container">Hey <span class="profile-name"
                                id="profile-name">Adenan</span></h3>
                        <p class="edit-profile-text">Consulter mon profil<i class="fa-solid fa-eye look-profile"
                                id="look-profile"></i></p>
                    </div>
                </div>

                <div class="search-date-container">
                    <div class="search-bar">
                        {{ form_start(search_form, {'attr': {'class': 'search-form'}}) }}
                        {{ form_widget(search_form.searchTerm, {'attr': {'id': 'search', 'class': 'auto-type', 'placeholder': '', 'oninput': 'handleSearchInput(event)'}}) }}
                        {{ form_end(search_form, {'render_rest': false}) }}
                        <div class="search-bar-icons">
                            <i class="fa-solid fa-search search-icon"></i>
                            <div class="history-container" title="active le mode histotyque afin de chercher dans la liste">
                                <i class="fa-solid fa-clock-rotate-left history-icon" id="history-icon"></i><p class="history-active">ON</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- SEARCH ANIMATION -->
                    <div id="search-results-container" class="search-result-container">
                        <div class="search-result-card searching-card show-searching-card">
                            <div class="search-aliment-icon-container">
                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Loading...</span>                            
                            </div>
                            <div class="search-aliment-info-container">
                                <div class="search-aliment-text-container">
                                    <h3 class="search-aliment-name">
                                        <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color: white; font-size: 16px;"></i>
                                        <span class="sr-only">Loading...</span>    
                                    </h3>
                                </div>
                                <p class="search-aliment-calories-container"><span class="search-aliment-calories">
                                    <i class="fa fa-spinner fa-pulse fa-1x fa-fw" style="color: white; font-size: 10px;"></i>
                                    <span class="sr-only">Loading...</span>
                                </span> Kcal</p>
                            </div>
                            <div class="search-aliment-quantity-container">
                                <p>saisir qté / gr</p>
                                <input disabled class="search-aliment-quantity" id="search-aliment-quantity" type="number" min="1" step="1" placeholder="ICI">
                            </div>
                            <button id="plus-aliment-button" disabled><i class="fa-solid fa-circle-plus" id="plus-aliment-icon"></i></button>
                        </div>
                    </div>

                    <div class="date-container">
                        <i class="fa-solid fa-calendar date-icon"></i>
                        <p class="date">11/01/2024</p>
                        <i class="fa-solid fa-clock hour-icon"></i>
                        <p class="hour">10:32</p>
                    </div>
                </div>
            </div>

            <div class="gauge-container">
                <div class="gauge-graphic-container">
                    <canvas id="calorieGauge"></canvas>
                    <div class="calories-calc-info">
                        <p class="calories-calc-description">Le but est de</p>
                        <p class="calories-calc-container"><span class="calories-calc">2301</span> Kcal</p>
                    </div>
                    <div class="comparaison">
                        <div class="calories-consomme-container">
                            <p class="calories-consomme-prefix"><span class="calories-consomme">301</span> Kcal</p>
                            <p><i class="fa-solid fa-bolt"></i>CONSOMMÉ</p>
                        </div>
                        <div class="calories-restantes-container">
                            <p class="calories-restantes-prefix"><span class="calories-restantes">2000</span> Kcal</p>
                            <p><i class="fa-solid fa-hourglass-half"></i>RESTANTES</p>
                        </div>
                    </div>
                </div>

                <div class="macros-personal-infos-container">
                    <div class="macro-container">
                        <p class="macro-title">Mes Macros</p>
                        <div class="macro-infos-container">
                            <div class="labels-container">
                                <div class="glucides-container m-c">
                                    <div class="glucides-icon-container m-i-c">
                                        <i class="fa-solid fa-fire-flame-curved glucides-icon m-i"></i>
                                    </div>
                                    <p class="glucides m-l">Glucides</p>
                                </div>
                                <div class="proteines-container m-c">
                                    <div class="proteines-icon-container m-i-c">
                                        <i class="fa-solid fa-dna proteines-icon m-i"></i>
                                    </div>
                                    <p class="proteines m-l">Proteines</p>
                                </div>
                                <div class="lipides-container m-c">
                                    <div class="lipides-icon-container m-i-c">
                                        <i class="fa-solid fa-heart-pulse lipides-icon m-i"></i>
                                    </div>
                                    <p class="lipides m-l">Lipides</p>
                                </div>
                            </div>
                            <div class="valeurs-container">
                                <p class="valeur-glucides-container"><span class="valeur-glucides">400</span> gr</p>
                                <p class="valeur-proteines-container"><span class="valeur-proteines">100</span> gr</p>
                                <p class="valeur-lipides-container"><span class="valeur-lipides">40</span> gr</p>
                            </div>
                        </div>
                    </div>

                    <div class="personal-infos">
                        <div class="poids-container">
                            <i class="fa-solid fa-weight-scale balance-icon info-icon" id="balance"></i>
                            <p class="poids-info-container"><i class="fa-solid fa-pen-to-square edit-icon" id="edit-icon-poids"></i><span class="poids">82</span> Kg</p>
                        </div>
                        <div class="activite-container">
                            <i class="fa-solid fa-person-running activite-icon info-icon" id="activite-icon"></i>
                            <div><i class="fa-solid fa-pen-to-square edit-icon" id="edit-icon-activité"></i><p class="activité">Trés active</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="suivi-container">
                <div>
                    <button id="week-btn">Semaine</button>
                    <button id="month-btn">Mois</button>
                    <button id="year-btn">Année</button>
                </div>

                <div class="graph-container">
                    <canvas class="my-chart" id="myChart"></canvas>

                    <div class="macro-container-labels">
                        <button class="macro-btn" id="calories-btn">Calories</button>
                        <button class="macro-btn" id="proteins-btn">Protéines</button>
                        <button class="macro-btn" id="carbs-btn">Glucides</button>
                        <button class="macro-btn" id="fats-btn">Lipides</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="right-section">
            <div class="aliment-list-container">
                <div class="aliment-card-collection">
                    <!-- ADDED ALIMENT CARDS -->
                </div>
            </div>
        </div>



        <div class="menu-bar">
            <div class="menu-bar-container">
                <div class="menu-bar-icon-container" id="home">
                    <i class="fa-solid fa-home" id="home-icon"></i>
                </div>
                <div class="menu-bar-icon-container plus-container" id="ajout">
                    <i class="fa-solid fa-plus ajout-icon"></i>
                </div>
                <div class="menu-bar-icon-container" id="suivi">
                    <i class="fa-solid fa-chart-simple suivi-icon"></i>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
